@{
	ViewBag.Title = "En Yeni Modeller";
}
<h2>@ViewBag.Title.</h2>


<p>Birçok seçenek sınırsız Model.</p>
<p>iPhone 12 Pro Max.</p>
<p>Huawei Mate 20 lite</p>
<p>Samsung S10 </p>
<p>Ve birçok model mevcuttur.</p>
	