@{
    ViewBag.Title = "Telefon";
}

<div class="jumbotron">
    <h1>Telefoncunuz.com</h1>  
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>İşletim Sistemleri</h2>
		<p>
			Piyasadaki işletim Sistemleri sırasıyla Android ve İOS'dur.
			<img src="../../resim/iphone.jpg" height="300" width="300" />
		</p>
       
    </div>
	<div class="col-md-4">
		<h2>Hafıza</h2>
		<p>Birçok hafıza seçeneği bulunmaktadır 32Gb 64Gb 128Gb 256Gb 512Gb gibi birçok istek doğrultusunda hafıza seçeneği sunulur.</p>
		<img src="../../resim/iphone.jpg" height="300" width="300" />
	</div>
    <div class="col-md-4">
        <h2>Kamera</h2>
        <p>12Mp 24Mp 108Mp vb birçok kamera seçeneği bulunmaktadır.</p>
		<img src="../../resim/iphone.jpg" height="300" width="300" />
    </div>
</div>